body {
  
  display: flex;
  justify-content: center;
}

output {
  display: block;
  min-height: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 3px;
}

#container {
width: 650px;
padding: 25px;
margin-top: 5%;
border: solid black 1px;

}

#sortOne , #sortOne {
  margin: 10px 10px 0 0;
}
